# Editor files
.idea/*

# Development-only files
converter/
dev.html

node_modules
dist

.vscode/

local.env

# Zero-installs is not enabled
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
