html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway","Helvetica","Tahoma","Geneva","Arial",sans-serif;
    font-weight: 400;
}

#map {
    height: 100%;
}

.stationLabel {
    font-weight: bold;
    color: #444444;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.toggles-container {
    width: 212px;
    height: auto;
    position: fixed;
    top: 24px;
    right: 24px;
    border-radius: 4px;
    overflow: hidden;
    z-index: 5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.toggle {
    background: #FFFFFF;
    text-align: center;
    color: #212121;
    box-sizing: border-box;
    height: 36px;
    line-height: 36px;
    user-select: none;
    cursor: pointer;
}

#toggle-container.dark .toggle { 
    background: #212121;
    color: #FFFFFF;
}

#toggle-container.dark .toggle:hover {
    background: #111111;
}

.toggle:first-child {
    border-right: 1px solid #EEEEEE;
}

.toggle-clear {
    border-top: 1px solid #EEEEEE;
    text-align: right;
    padding-right: 16px;
}

.dark .toggle:first-child {
    border-right: 1px solid #111111;
}

.dark .toggle-clear {
    border-top: 1px solid #111111;
}

.toggle:hover {
    background: #EEEEEE;
}

.toggle-half:active {
    background: #AAAAAA;
}

.toggle-half {
    width: 50%;
    float: left;
}
.toggle-clear {
    clear: both;
    position: relative;
}

.toggle-half.active {
    background: #AAAAAA;
}

.dark .toggle-half.active {
    background: #111111 !important;
}

.toggle-clear.active:after {
    content: "";
    background-color: transparent;
    position: absolute;
    left: 16px;
    top: 8px;
    width: 5px;
    border-bottom: 3px solid transparent;
    height: 11px;
    border-right: 3px solid transparent;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: border 0.2s;
}

.toggle-clear.active:after {
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.toggle-clear:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    position: absolute;
    left: 10px;
    top: 6px;
    border-radius: 4px;
    transition: background 0.2s, border 0.2s;
}

.toggle-clear.active:before {
    border: 2px solid #c00;
    background: #c00;
}

.logo-container {
    position: absolute;
    bottom: 16px;
    left: calc(50% - 35px);
}

#logo {
    background-image: url('../images/logo_dark.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 29px;
}

@media (prefers-color-scheme: dark) {
    .toggle {
        background: #212121;
        color: #FFFFFF;
    }

    .toggle:hover {
        background: #111111;
    }

    .toggle:first-child {
        border-right: 1px solid #111111;
    }

    .toggle-clear {
        border-top: 1px solid #111111;
    }

    #logo {
        background-image: url('../images/logo_light.png');
    }
}