html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway","Helvetica","Tahoma","Geneva","Arial",sans-serif;
    font-weight: 400;
}

#map {
    height: 100%;
}

.stationLabel {
    font-weight: bold;
    color: #444444;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.toggles-container {
    width: 172px;
    height: auto;
    position: fixed;
    top: 24px;
    right: 24px;
    border-radius: 4px;
    overflow: hidden;
    z-index: 5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.toggle {
    background: #FFFFFF;
    text-align: center;
    color: #212121;
    box-sizing: border-box;
    height: 36px;
    line-height: 36px;
    user-select: none;
    cursor: pointer;
}

.toggle:hover {
    background: #EEEEEE;
}

.toggle:active {
    background: #AAAAAA;
}

.toggle-half {
    width: 50%;
    float: left;
}

.toggle.active {
    background: #AAAAAA;
}