name: Build Artifacts

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Set up local secrets
        env:
          MAPBOX_KEY: ${{ secrets.MAPBOX_KEY }}
          BASE_URL: ${{ secrets.BASE_URL }}
        run: echo -e "MAPBOX_KEY=$MAPBOX_KEY\nBASE_URL=$BASE_URL" > local.env

      - name: Build dist
        run: npm install && npm run build

      - name: Upload Artifacts
        if: success()
        uses: actions/upload-artifact@v3
        with:
          name: map-build
          path: dist
