name: Build Artifacts

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      
      - name: Set up local secrets
        env:
          MAPBOX_KEY: ${{ secrets.MAPBOX_KEY }}
          BASE_URL: ${{ secrets.BASE_URL }}
        run: echo -e "MAPBOX_KEY=$MAPBOX_KEY\nBASE_URL=$BASE_URL" > local.env
          
      - name: Build dist
        run: yarn && yarn run build
        
      - name: Upload Artifacts
        if: success()
        uses: actions/upload-artifact@v2
        with:
          name: map-build
          path: dist
