name: Run Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  publish-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      
      - name: Set up local secrets
        env:
          MAPBOX_KEY: ${{ secrets.MAPBOX_KEY }}
          BASE_URL: ${{ secrets.BASE_URL }}
        run: echo -e "MAPBOX_KEY=$MAPBOX_KEY\nBASE_URL=$BASE_URL" > local.env
          
      - name: Build dist
        run: yarn && yarn test
